*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 20px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
}
.global-navbar .navbar{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    height: 80px;
    justify-content:space-between;
}
.navbar .leftpart{
    display: flex;
    align-items: center;
}
.navbar .leftpart .image{
    display: block;
    margin: 16px;
}
.leftpart .image:hover{
    transform: scale(1.3);
}
.navbar .leftpart .search{
    display: flex;
    align-items: center;
    cursor: pointer;

}
.leftpart .search .other{
    border-bottom: 2px solid black;
    font-weight: 500;
    padding-left: 2px;
    margin-left: 2px;
}
.search .other:hover{
    color:orangered;
    border-bottom: 2px solid orangered;
}
.search .state_search{
    padding-left: 12px;
    font-weight: 300;
    color:dimgray;
}
.search #expand{
    color: orangered;
    margin-left: 5px;
    
}
.navbar .rightpart{
    position: relative; 
}
.rightpart .navbar_option{
    display: flex;
}
.navbar_option li{
    list-style: none;
    margin-right: 56px;
    font-size: 15px;
    padding-top: 25px;
}
.rightpart .nav-item{
    display: flex;
    align-items: center;
    padding-left: 18px;
    height: 80px;
    cursor: pointer;
    
}
.rightpart li:hover{
    border: none;
    background-color: lightgray;
    padding: 10px;
    margin-top: 15px;
    width: 100;
    box-sizing: border-box;
    border-radius: 33px
}

.navbar_option li .nav-items a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
    
}
span.title{
    padding-left: 11px;
}
.container{
    max-width: 1200px;
    position: relative;
    margin: 0 30px;
    top: 100px;
    left: 20px;
    right: 20px;
    padding-top: 10px;

}
.container .item-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    padding-left:20px;
}
.item-bar .list{
    font-size: 28px;
    font-weight: 700;
}
.item-bar .filters{
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #687b78;
    font-size: 16px;
    
    cursor: pointer;
}
.filters div{
    margin-left: 35px;
}
.restaurant-list{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-top: 20px;
    padding-top: 39px;
    margin-bottom: 85px;
    padding-left: 20px;
}

.restaurant-list .place-link{
    text-decoration: none;
    color: inherit;
}
.restaurant-list .list-item{
    padding: 16px;
    width: fit-content;
}
.restaurant-list .list-item:hover{
    border: 1px solid lightgrey;
    box-shadow: 0px 4px 7px 0px rgba(218 220 230 / 60%);
}
.item-content .top-img{
    background-color: #eef0f5;
    width: 254px;
    height: 160px;
}
.item-content{
    position: relative;
}
.place-name-div{
    margin-top: 14px;
}
.place-name-div .item-name{
    font-size: 17px;
    font-weight: 500;
    
}
.place-name-div .ingredients{
    color:#686b78;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 300;
}
.class-info{
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 13px;
    justify-content: space-between;
    color: #535665;
    font-weight: 300;
}
.rating{
    
    background-color: orangered;
    color: white;
    padding: 0 5px;
    font-weight: 500;
    display: flex;
    align-items: center;

}
.rating #icon-star{
    font-size: 14px;
    margin-right: 5px;
    position: relative;
    top: -1px
}
.offer-div{
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    padding-left: 18px;
    margin-top: 14px;
    color: #8a584b;
    display: flex;
    align-items: center;
}

.offer-div .icon-offer-filled{
    font-size: 16px;
    width: 20px;
    height: 16px;
    margin-right: 4px;
}

.offer-div .offer-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}
.place-link:hover .quick-view{
    visibility: visible;
}

.place-link .quick-view{
    visibility: hidden;
    font-size: 13px;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    text-align: center;
}

.quick-view .view-btn{
    color: #5d8ed5;
    text-transform: uppercase;
    font-weight: 600;
}
.footer-section{
    margin-top: 10px;
    padding: 0;
    background-color: black;
    color: whitesmoke;
    margin-top: 110px;
}
.footer-section .reference{
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.ref-content .content{
    padding: 12px;
}
.reference .ref-title{
    padding: 15px;
    color: gray;
    font-weight: 500;
}
.reference li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.reference li a:hover{
    font-weight: 600;
    font-size: 17px;
}
.connect{
    padding-top: 70px;
    padding-left: 70px;
    display:grid;
    padding-bottom: 80px;
}

.connect .store-img a img{
    width: 200px;
    height: 70px;
    border: 3px solid grey;
    border-radius: 10px;
    
}
.store-img a img:hover{
    transform: scale(1.1);

}